<h1>Product List</h1>

<h3 *ngIf="products.length == 0">There are no products</h3>
<table
  *ngIf="products.length > 0"
  class="table table-striped">

  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Rating</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let product of products">
      <td>{{product.id}}</td>
      <td>{{product.title}}</td>
      <td>{{product.description}}</td>
      <td>{{product.price}}</td>
      <td>{{product.rating}}</td>
      <td>
        <button (click)="deleteProduct(product)" class="btn btn-danger">
          <i class="glyphicon glyphicon-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
